:root {
  --main-color: #1e1f29;
  --main-color-darker: #0b0c11;
  --main-color-lighter: #434655;
  --light-color: #51bce4;
  --mainTransition: all 0.07s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--main-color);
}

button {
  cursor: pointer;
}

.navbar {
  background-color: var(--main-color-darker);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20%;
}

.nav-logo, .nav-logo:visited {
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.nav-link-container li {
  font-weight: 300;
}

.nav-link {
  font-weight: 300;
  text-decoration: none;
  padding: 0 20px;
  color: white;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited {
      text-decoration: none;
      color: inherit;
}

li {
  text-decoration: none;
  padding: 0 20px;
}

.active-button {
  background: linear-gradient(45deg, rgba(29, 127, 191, 1) 0%, rgba(61, 238, 111, 1) 100%);
  color: white;
  padding: 0;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
}

.search-page {
  text-align: center;
  padding-top: 2rem;
}

.media-type-buttons {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  width: 150px;
  margin: 0 auto;
}

.button-media-type {
  /* background: white; */
  /* color: var(--main-color-darker); */
  padding: 0;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
}

.SearchBar {
  align-items: center;
  height: 100px;
  display: flex;
  justify-content: center;
}

.search-bar-button {
  background: linear-gradient(45deg, rgba(29, 127, 191, 1) 0%, rgba(61, 238, 111, 1) 100%);
  color: white;
  margin: 0 2rem;
  padding: 0;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
}

.search-bar-button:hover {
  transform: scale(1.03);
  transition: var(--mainTransition);
}

.search-input {
  height: 50px;
  width: 40vw;
  border-radius: 25px;
  font-size: 20px;
  border: none;
  padding: 0;
  padding-left: 2rem;
}

.search-results {
  padding: 0 5%;
  padding-top: 2rem;
}

.result-card {
  height: 200px;
  color: white;
  background-color: var(--main-color-lighter);
  display: flex;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: left;
  position: relative;
}

.result-card:hover {
  cursor: pointer;
}

.result-card:hover h2 {
  color: rgb(201, 104, 241);
}

.result-card-details {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem 2rem;
  position: absolute;
  left: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-card-description p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-container {
  max-width: 150px;
}

.result-img {
  height: 100%;
  border-radius: 1rem;
  /* overflow: hidden; */
}

.button-page {
  background: linear-gradient(45deg, rgba(29, 127, 191, 1) 0%, rgba(61, 238, 111, 1) 100%);
  color: white;
  margin: 0 2rem;
  padding: 0;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
}

.button-page:hover {
  transform: scale(1.03);
  transition: var(--mainTransition);
}

.detail-info-container {
  color: white;
}

.movie-info {
  margin: 0 10%;
  background-color: var(--main-color-lighter);
  border-radius: 20px;
  display: flex;
  position: absolute;
  top: 50%;
  /* transform: translateY(-30%); */
}

.movie-details {
  padding: 1rem 2rem;
}

.banner-image-container {
  text-align: center;
}

.banner-image-container img {
  width: 100%;
  filter: blur(5px);
}

.detail-result-img {
  height: 300px;
  border-radius: 20px;
}
