.nav-link-container li {
  font-weight: 300;
}

.nav-links {
  list-style: none;
  display: flex;
  font-weight: 300;
}

.nav-link h3 {
  font-weight: 300;
}

li {
  text-decoration: none;
  padding: 0 20px;
}
